<!DOCTYPE html>
<html>
<head>
	<title>Articles</title>
</head>
<h1 align='center'>All Articles</h1>
<body>
	<div class="myDivElement" id="articles">
		
		<% @articles.each do |article| %>
		<ul id='ul-color'>
		<li><%= link_to article.title, article_path(article), class: 'article_title' %>
		<%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure to delete?"}  %></li>
	</ul>
	<% end %>
	</div>



</body>
<div class="myDivElement"><%= link_to "Create New Article", new_article_path, class: 'new_article' %></div>
</html>