<!DOCTYPE html>
<html>
<head>
	<title>Articles</title>
</head>
<h1>All Articles</h1>
<body>
	<ul id="articles">
		<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: 'article_title' %>
			<%= link_to 'DELETE', article_path(article), method: :delete, data: {confirm: "Are you sure to delete?"}  %>
			

		</li>
	</ul>


<% end %>
</body>
<%= link_to "Create New Article", new_article_path, class: 'new_article' %>
</html>